{% extends "core/base.html" %}
{% load staticfiles %}

{% block "metadata" %}
 	<meta name="description" content="ZUKS ist die erste Organisation, die es sich zur Aufgabe gemacht hat Freiwillige in Katastrophengebieten zu koordinieren und an die Hand zu nehmen.">
    <meta name="keywords" content="ZUKS Zivile Unterst&uuml;tzung Katastrophenschutz Organisation Hilfe Freiwillig">
{% endblock "metadata" %}

{% block "menu" %}
  <li class="active"><a href="#zuks">ZUKS</a></li>
  <li><a href="#idee">Idee</a></li>
  <li><a href="#team">Team</a></li>
  <li><a href="#kontakt">Kontakt</a></li>
  <li class="new-page"><a href="{% url "konzept" %}">Konzept</a></li>
  <li class="new-page"><a href="{% url "presse" %}">Presse</a></li>
{% endblock "menu" %}

{% block "mobile_menu" %}
  <li class="active"><a href="#zuks" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      ZUKS</a></li>
  <li><a href="#idee" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      Idee</a></li>
  <li><a href="#team" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      Team</a></li>
  <li><a href="#kontakt" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      Kontakt</a></li>
  <li class="new-page"><a href="{% url "konzept" %}" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      Konzept</a></li>
  <li class="new-page"><a href="{% url "presse" %}" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      Presse</a></li>
{% endblock "mobile_menu" %}

{% block "content" %}
    <div class="section type-1 big splash" id="zuks">
        <div class="splash-cover">
        </div>
        <div class="container">
            <div class="splash-block">
                <div class="centered">
                    <div class="container">
                        <div>
                            <!--<h1>ZUKS - Zivile Unterst&uuml;tzung im Katastrophenschutz</h1>
                            <h2>Jeder kann helfen!</h2>-->
                            <img class="header-logo-img" src="{% static "img/logo/logo-weiss@1200.png" %}" alt="ZUKS Logo" />
                            <!-- <img class="header-logo-img" src="img/logo/logo-weiss@1200.png" alt="ZUKS Logo"/>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section type-2 concept" id="idee">
        <div class="container">
            <div>
                <div class="row">
                    <div class="col-lg-4">
                        <img src="{% static "img/icons/motivation.png" %}" class="content-icon" alt="Motivation Icon"/>
                        <h4>Katastrophen passieren immer wieder</h4>
                        <p>
                             Sind wir nicht direkt von einem Ungl&uuml;ck betroffen, sitzen wir ersch&uuml;ttert vor dem Fernseher und lassen uns machtlos das Leid anderer pr&auml;sentieren. Das muss nicht sein!
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <img src="{% static "img/icons/idee.png" %}" class="content-icon" alt="Idee Icon"/>
                        <h4>Auch Du kannst helfen</h4>
                        <p>
                            Sands&auml;cke f&uuml;llen, Betten aufbauen, Deiche kontrollieren &ndash; das kannst auch Du. Wir erm&ouml;glichen jedem, auch ohne zeitintensive Ausbildung, den Menschen vor Ort zu helfen.
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <img src="{% static "img/icons/funktion.png" %}" class="content-icon" alt="Funktion Icon"/>
                        <h4>Wie soll das funktionieren?</h4>
                        <p>
                            Du registrierst dich bei uns und wir kontaktieren dich im Falle einer Katastrophe. W&auml;hrend Du im Einsatz bist, &uuml;bernehmen wir die Planung und Versorgung. Du hilfst &ndash; wir koordinieren!
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <img src="{% static "img/icons/mitmachen.png" %}" class="content-icon" alt="Mitmachen Icon"/>
                        <h4>Wie kann ich mitmachen?</h4>
                        <p>
                            Da das Projekt in Planung ist, gibt es zur Zeit noch nichts zum Anpacken. Helfen kannst Du dennoch, indem Du unsere Idee
                            &uuml;ber <a href="https://www.facebook.com/zuks.org" target="_blank">Facebook</a>, <a href="https://plus.google.com/+ZuksOrg" rel="publisher" target="_blank">Google+</a> und <a href="https://twitter.com/zuksDE" target="_blank">Twitter</a> verbreitest.
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <img src="{% static "img/icons/planung.png" %}" class="content-icon" alt="Planung Icon"/>
                        <h4>Wie ist der aktuelle Stand?</h4>
                        <p>
                             Momentan arbeiten wir an dem organisatorischen und technischen Konzept, das alle unsere Ideen vereint. Den aktuellen Stand der Planungen findest Du auf unserer <a href="{% url "konzept" %}">Konzept Seite</a>.
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <img src="{% static "img/icons/newsletter.png" %}" class="content-icon" alt="Newsletter Icon"/>
                        <h4>Bleib dran!</h4>
                        {% include 'core/subscribe_form.html' %}

                        <div class="social-buttons">
                            <div class="social-button-wrapper">
                                <a href="https://twitter.com/zuksDE" class="twitter-follow-button" data-show-count="false" data-lang="de" data-show-screen-name="false">@zuksDE folgen</a>
                            </div>
                            <div class="social-button-wrapper">
                                <div class="g-follow" data-annotation="none" data-height="20" data-href="https://plus.google.com/+ZuksOrg" data-rel="publisher"></div>
                            </div>

                            <div class="social-button-wrapper">
                                <div class="fb-like" data-href="https://facebook.com/zuks.org" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-concept-link type-1">
        <div class="container">
            <h2 class="concept-link">
                <img class="forward" src="{% static "img/icons/forward_white.png" %}" alt="Weiter Icon">Genauere Informationen gibt es auf unserer <a href="{% url "konzept" %}" class="concept-link">Konzept-Seite.</a>
            </h2>
        </div>
    </div>

    <div class="section type-3" id="team">
        <div class="container">
            <h4 class="headline">Team</h4>
            <h2>Die Mitstreiter kurz vorgestellt</h2>
            <div class="row">
                <br>
                <div class="col-lg-4 padding-top-50">
                    <div class="person media">
                        <div class="person-avatar pull-left">
                            <img src="{% static "img/avatar/simonseyer.jpg" %}" class="avatar img-circle" alt="Simon Seyer Profilbild">
                        </div>
                        <div class="media-body">
                            <h4 class="person-name">Simon Seyer, 21</h4>
                            <p>
                                <i>studiert Medieninformatik</i>
                            </p>
                            <p class="person-brief muted">
                                Projektplanung, Technische Leitung
                            </p>
                            <div class="social-links">
                                <a href="mailto:simon.seyer@zuks.org" target="_blank"><i class="social-icon-email"></i></a>
                                <a href="https://www.facebook.com/simon.seyer.1" target="_blank"><i class="social-icon-facebook"></i></a>
                                <a href="https://twitter.com/Eldorado234" target="_blank"><i class="social-icon-twitter"></i></a>
                                <a href="https://plus.google.com/+SimonSeyer" target="_blank"><i class="social-icon-googleplus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end:.col-->
                <div class="col-lg-4 padding-top-50">
                    <div class="person media">
                        <div class="person-avatar pull-left">
                            <img src="{% static "img/avatar/maxduckwitz.jpg" %}" class="avatar size-default img-circle" alt="Max Duckwitz">
                        </div>
                        <div class="media-body">
                            <h4 class="person-name">Max Duckwitz, 24</h4>
                            <p>
                                <i>studiert Wirtschaftsinformatik</i>
                            </p>
                            <p class="person-brief muted">
                                Einsatztaktik &amp; Rettungswesen, Political Relations
                            </p>
                            <div class="social-links">
                                <a href="mailto:max.duckwitz@zuks.org" target="_blank"><i class="social-icon-email"></i></a>
                                <a href="https://www.facebook.com/max.duckwitz" target="_blank"><i class="social-icon-facebook"></i></a>
                                <a href="https://www.twitter.com/mduckwitz" target="_blank"><i class="social-icon-twitter"></i></a>
                                <a href="https://plus.google.com/107032157842354551284" target="_blank"><i class="social-icon-googleplus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 padding-top-50">
                    <div class="person media">
                        <div class="person-avatar pull-left">
                            <img src="{% static "img/avatar/rahelhabacker.jpg" %}" class="avatar  img-circle" alt="Rahel Habacker">
                        </div>
                        <div class="media-body">
                            <h4 class="person-name">Rahel Habacker, 21</h4>
                            <p>
                                <i>studiert Medieninformatik</i>
                            </p>
                            <p class="person-brief muted">
                                Entwicklung, &Ouml;ffentlichkeitsarbeit
                            </p>

                            <div class="social-links">
                                <a href="mailto:rahel.habacker@zuks.org" target="_blank"><i class="social-icon-email"></i></a>
                                <a href="https://www.facebook.com/rahel.habacker" target="_blank"><i class="social-icon-facebook"></i></a>
                                <a href="https://plus.google.com/u/0/102383460436383615912/" target="_blank"><i class="social-icon-googleplus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--end:.row-->
            <div class="row">
                <div class="col-lg-4 padding-top-50">
                    <div class="person media">
                        <div class="person-avatar pull-left">
                            <img src="{% static "img/avatar/dominikneu.jpg" %}" class="avatar size-default img-circle" alt="Dominik Neu ARD Superchance">
                        </div>
                        <div class="media-body">
                            <h4 class="person-name">Dominik Neu, 21</h4>
                            <p>
                                <i>studiert Medieninformatik</i>
                            </p>
                            <p class="person-brief muted">
                                Social Media &amp; Public Relations
                            </p>
                            <div class="social-links">
                                <a href="mailto:dominik.neu@zuks.org" target="_blank"><i class="social-icon-email"></i></a>
                                <a href="https://www.facebook.com/dominik.neu.10" target="_blank"><i class="social-icon-facebook"></i></a>
                                <a href="https://plus.google.com/u/0/106462434955155712098/posts" target="_blank"><i class="social-icon-googleplus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end:.col-->
                <div class="col-lg-4 padding-top-50">
                    <div class="person media">
                        <div class="person-avatar pull-left">
                            <img src="{% static "img/avatar/tilmanginzel.jpg" %}" class="avatar size-default img-circle" alt="Tilman Ginzel">
                        </div>
                        <div class="media-body">
                            <h4 class="person-name">Tilman Ginzel, 21</h4>
                            <p>
                                <i>studiert Medieninformatik</i>
                            </p>
                            <p class="person-brief muted">
                                Web- und Softwareentwicklung
                            </p>
                            <div class="social-links">
                                <a href="mailto:tilman.ginzel@zuks.org" target="_blank"><i class="social-icon-email"></i></a>
                                <a href="https://www.facebook.com/tilman93" target="_blank"><i class="social-icon-facebook"></i></a>
                                <a href="https://plus.google.com/103291842947925719123" target="_blank"><i class="social-icon-googleplus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end:.col-->
                <div class="col-lg-4 padding-top-50">
                    <div class="person media">
                        <div class="person-avatar pull-left">
                            <img src="{% static "img/avatar/default.jpg" %}" class="avatar size-default img-circle" alt="Tilman Ginzel">
                        </div>
                        <div class="media-body">
                            <h4 class="person-name">Roman Herberg, 22</h4>
                            <p>
                                <i>studiert Wirtschaftsinformatik</i>
                            </p>
                            <p class="person-brief muted">
                                Konzeption und Planung
                            </p>
                            <div class="social-links">
                                <a href="mailto:roman.herberg@zuks.org" target="_blank"><i class="social-icon-email"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end:.row-->
            <div class="row">
                <div class="col-lg-4 padding-top-50">
                    <div class="person media">
                        <div class="person-avatar pull-left">
                            <img src="{% static "img/avatar/simoneniederpruem.jpg" %}" class="avatar  img-circle" alt="Simone Niederpr&uuml;m">
                        </div>
                        <div class="media-body">
                            <h4 class="person-name">Simone Niederpr&uuml;m, 38</h4>
                            <p>
                                <i>Leiterin einer kath. Kindertagesst&auml;tte</i>
                            </p>
                            <p class="person-brief muted">
                                Organisation und Verwaltung
                            </p>
                            <div class="social-links">
                                <a href="mailto:simone.niederpruem@zuks.org" target="_blank"><i class="social-icon-email"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end:.col-->
                <div class="col-lg-4 padding-top-50">
                    <div class="person media">
                        <div class="person-avatar pull-left">
                            <img src="{% static "img/avatar/yvonnegutte.jpg" %}" class="avatar size-default img-circle" alt="Yvonne Gutte">
                        </div>
                        <div class="media-body">
                            <h4 class="person-name">Yvonne Gutte, 29</h4>
                            <p>
                                <i>studiert Kommunikationsdesign</i>
                            </p>
                            <p class="person-brief muted">
                                Corporate Design
                            </p>
                            <div class="social-links">
                                <a href="mailto:yvonne.gutte@zuks.org" target="_blank"><i class="social-icon-email"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end:.col-->
                <div class="col-lg-4 padding-top-50">
                    <div class="person media">
                        <div class="person-avatar pull-left">
                            <img src="{% static "img/avatar/default.jpg" %}" class="avatar size-default img-circle" alt="Tilman Ginzel">
                        </div>
                        <div class="media-body">
                            <h4 class="person-name">Lukas Schreiner, 22</h4>
                            <p>
                                <i>Ausbildung als Systemintegrator</i>
                            </p>
                            <p class="person-brief muted">
                                Technische Infrastruktur
                            </p>
                            <div class="social-links">
                                <a href="mailto:lukas.schreiner@zuks.org" target="_blank"><i class="social-icon-email"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end:.row-->
        </div>
        <!--end:.container-->
    </div>

    <div class="section type-1 section-contact" id="kontakt">
        <div class="container">
            <h4 class="headline">Kontakt</h4>
            <h2>Melde dich doch bei uns</h2>
            <div class="row">
                <!--<div class="col-lg-4">
                    <address>
                        <div class="address-row">
                            <div class="address-sign">
                                <i class="icon-map-marker"></i>
                            </div>
                            <div style="address-info">
                                <b>Single Page Responsive Template</b>,<br>
                                Using Twitter Bootstrap 3,<br>
                                EGrappler.com
                            </div>
                        </div>
                    </address>
                    <div class="visible-xs visible-sm">
                        <br class="gap-30" />
                        <hr class="gap-divider" />
                        <br class="gap-30" />
                    </div>
                </div>-->
                <div class="col-lg-7">
                    {% include "core/contact_form.html" %}
                </div>
                <div class="col-lg-5">
                    <img src="{% static "img/logo/logo-bild-weiss@320.png" %}" alt="ZUKS Logo Bildmarke" class="content-icon-160" />
                </div>
            </div>
        </div>
    </div>

{% include "core/footer.html" %}
{% endblock "content" %}

{% block "scripts" %}
	<script type="text/javascript">
      window.___gcfg = {lang: 'de'};

      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/platform.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>

    <script>
                        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&appId=154754951342231&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
{% endblock "scripts" %}
