{% extends "core/base.html" %}
{% load staticfiles %}

{% block "metadata" %}
    <meta name="description" content="ZUKS Ausf&uuml;hrliches Konzept">
    <meta name="keywords" content="ZUKS Konzept Einsatz Motivation Idee Technik Technische Unterst&uuml;tzung Versicherung">
{% endblock "metadata" %}

{% block "menu" %}
  <li><a href="http://www.zuks.org" class="back">ZUKS</a></li>
  <li class="active"><a href="#konzept">Konzept</a></li>
  <li><a href="#einsatz">Einsatz</a></li>
  <li><a href="#technik">Technik</a></li>
{% endblock "menu" %}

{% block "mobile_menu" %}
  <li>
      <a href="http://www.zuks.org" data-toggle="collapse" data-target=".navbar-responsive-collapse">&#8592; ZUKS</a>
  </li>
  <li class="active">
      <a href="#konzept" data-toggle="collapse" data-target=".navbar-responsive-collapse">Konzept</a>
  </li>
  <li>
      <a href="#einsatz" data-toggle="collapse" data-target=".navbar-responsive-collapse">Einsatz</a>
  </li>
  <li>
      <a href="#technik" data-toggle="collapse" data-target=".navbar-responsive-collapse">Technik</a>
  </li>
{% endblock "mobile_menu" %}

{% block "content" %}
    <div class="jumper" id="konzept"></div>
    <div class="section type-1 concept-section">
        <div class="container motivation">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Motivation</h1>
                    <p>
                        Es passieren immer wieder Katastrophen um uns herum. Meist sind wir selbst nicht betroffen, sitzen dann gebannt vor dem Fernseher und lassen uns von der Tagesschau berichten, wie schlimm die Lage ist. Wir schwanken zwischen Sensationslust und Mitleid und sind der festen &Uuml;berzeugung, dass wir ja sowieso nicht helfen k&ouml;nnen.
                    </p>
                    <p>
                        Wenn einen die Hilflosigkeit aber nicht direkt wieder los l&auml;sst, nachdem der letzte Gong der Nachrichten verhallt ist, dann macht man sich auf die Suche; sucht nach einer M&ouml;glichkeit, beim n&auml;chsten Mal nicht unt&auml;tig auf dem Sofa gefesselt zu sein. Und man wird mehr als f&uuml;ndig.
                    </p>
                    <p>
                        Man findet diverse Organisation, Vereine und Gemeinschaften, die es sich zur Aufgabe gemacht haben, bei Katastrophen zu helfen. Man liest von Ausbildungen zum H&ouml;henretter, Fortbildungen im Katastrophenschutz und Vereinsarbeit - und muss an die Zeit denken, die das alles Kosten w&uuml;rde.
                    </p>
                    <p>
                        Nicht jeder kann und will Zeit in Vereinsarbeit und Ausbildung investieren. Trotzdem muss man diese Menschen beim Katastrophenschutz nicht abschreiben. Sands&auml;cke f&uuml;llen, Deiche kontrollieren, Essen verteilen, Betten aufbauen - das sind T&auml;tigkeiten, die kann fast jeder ausf&uuml;hren und m&uuml;ssen nicht durch Fachpersonal erledigt werden.
                    </p>
                </div>

                <div class="col-lg-6">
                    <h1>Idee</h1>
                    <p>
                        Das Ziel ist, eine Organisation aufzubauen, die Menschen akquiriert und diese gezielt bei Katastrophen einsetzt und organisiert. Die Betreuung und Hilfestellung soll deutlich weiter gehen als bei bestehenden Organisationen, da die Helfer mit nur geringerer Erfahrung in den Einsatz gehen.
                    </p>
                    <p>
                        Die Betreuung soll stark technikgest&uuml;tzt erfolgen, um den Aufwand auf organisatorischer Seite so gering wie m&ouml;glich zu halten und einen effizienten Ablauf zu erm&ouml;glichen.
                    </p>
                    <p>
                       In den folgenden f&uuml;nf Punkten soll als &Uuml;berblick deutlich gemacht werden, wie der normale Ablauf f&uuml;r einen Helfer aussehen k&ouml;nnte, der &uuml;ber ZUKS organisiert wird:
                    </p>
                    <ol class="list">
                        <li>Der Helfer installiert sich die ZUKS App und registriert sich als Helfer mit seinen Kontaktdaten.</li>
                        <li>Er wird &uuml;ber die App alarmiert, sobald er gebraucht wird und kann entscheiden, ob und wann er bei dem Einsatz teilnehmen will.</li>
                        <li>Er reist an und wird von der App zu dem Einsatzort navigiert.</li>
                        <li>Er bekommt von der App einen Gruppenf&uuml;hrer von der Feuerwehr, der DLRG oder einer anderen Organisation als Kontaktperson zugeteilt, welcher die Organisation w&auml;hrend dem Einsatz &uuml;bernimmt.</li>
                        <li>Nach dem Einsatz wird der Helfer durch die App zu Punkten navigiert, bei denen er Verpflegung und einen Platz zum Schlafen findet.</li>
                    </ol>
                </div>
            </div>
            <hr class="white">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Zielgruppe</h1>
                    <p>
                        Vor allem Menschen ohne Erfahrung im Katastrophenschutz und ohne Mitgliedschaft in Hilfsorganisationen oder dergleichen sollen angesprochen werden. Eine gewisse k&ouml;rperliche Grundkonstitution muss vorausgesetzt werden, wobei auch weniger sportliche Menschen aufgrund der vielf&auml;ltigen Aufgaben gewinnbringend eingesetzt werden k&ouml;nnen.
                    </p>
                    <p>
                        Da die Organisation stark technikgest&uuml;tzt erfolgen soll, wird eine eher junge, smartphoneaffine Altersgruppe angesprochen werden. Der Altersbereich l&auml;sst sich grob auf 18-60 umrei&szlig;en.
                    </p>
                </div>
                <div class="col-lg-6">
                    <img src="img/logo/logo-bild-weiss@320.png" alt="ZUKS Logo Bildmarke" class="content-icon-160" />
                </div>
            </div>
        </div>
    </div>

    <div class="jumper" id="einsatz"></div>
    <div class="section type-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 padding-top-50">
                    <h1>Einsatz</h1>
                    <img class="einsatzstruktur" src="img/zuks-einsatzstruktur.jpg" alt="ZUKS Einsatzstruktur" />
                </div>
                <div class="col-lg-6 ablauf">

                    <h3>Ablauf</h3>
                    <p>
                        Die folgenden Schritte beschreiben den Ablauf w&auml;hrend eines Einsatzes.
                    </p>
                    <ol class="list">
                        <li>
                            In der <strong>Einsatzzentrale</strong> sitzt als Einsatzleiter von ZUKS eine Person, welche Anfragen von dem Einsatzleiter entgegen nimmt (z.B. x Personen an Standort y ben&ouml;tigt) und f&uuml;r die Kommunikation mit den anderen Organisation zust&auml;ndig ist.
                        </li>
                        <li>
                            Eine zweite Person &uuml;bernimmt die Kommunikation von der <strong>Einsatzzentrale</strong> zu der <strong>ZUKS-Zentrale</strong> vor Ort.
                        </li>
                        <li>
                            In der <strong>ZUKS-Zentrale</strong> &uuml;bernimmt eine Person die Koordination der Helfer &uuml;ber die Steuer-Anwendung, welches es erlaubt, Befehle an die <strong>Apps</strong> zu verschicken.
                        </li>
                        <li>
                            Die <strong>Helfer</strong> bekommen die Anweisungen angezeigt und k&ouml;nnen entsprechend reagieren.
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row">

            </div>

            <div class="row padding-top-50">
                <div class="col-lg-6">
                     <h3 class="padding-top-25">ZUKS-Personal</h3>
                    <p>
                        F&uuml;r den Personalaufwand muss ber&uuml;cksichtigt werden, dass im 2-3 Schichtbetrieb gearbeitet werden muss, um einen reibungslosen Ablauf sicher zu stellen. Folgende Personengruppen werden mindestens ben&ouml;tigt:
                    </p>
                    <ul>
                        <li>ZUKS-Einsatzleiter</li>
                        <li>Funker (Einsatzzentrale -> ZUKS-Zentrale)</li>
                        <li>Koordinator (Steuert die Apps)</li>
                        <li>Techniker (f&uuml;r die Technik in der ZUKS-Zentrale zust&auml;ndig)</li>
                        <li>Ansprechpartner (dient den Helfern an einer zentralen Sammelstelle als pers&ouml;nlicher Kontakt)</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <h3 class="padding-top-25">Aufgabenteilung</h3>
                    <p>
                        Ein kritischer Punkt bei der Organisation ist, dass die Helfer durch zwei Seiten koordiniert werden. Zum einen durch den Gruppenleiter der Feuerwehr/DLRG/etc. und zum anderen durch die ZUKS-Zentrale. Damit es hier nicht zu Konflikten bei der Kommunikation kommt, muss die Aufgabenteilung klar geregelt sein:
                    </p>
                    <ul>
                        <li><strong>ZUKS-Zentrale</strong>: &Uuml;bernimmt die Organisation zwischen den Eins&auml;tzen. H&auml;lt sich w&auml;hrend des Einsatzes zur&uuml;ck und &uuml;berl&auml;sst dem Gruppenf&uuml;hrer die Organisation.</li>
                        <li><strong>Gruppenf&uuml;hrer</strong>: Leitet die Helfer w&auml;hrend des Einsatzes an und gibt diese am Ende auch wieder frei.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="jumper" id="technik"></div>
    <div class="section type-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Technische Infrastruktur</h1>
                    <p>
                        Um die reibungslose Kommunikation und Information sicher zu stellen, sollen verschiedene Komponenten eingesetzt werden:
                    </p>
                    <ul>
                        <li>
                            <strong>Website</strong>: dient zum Helfer anzuwerben und um Informationen &uuml;ber das Projekt zu vermitteln. <i>Standort: Rechenzentrum</i>
                        </li>
                        <li>
                            <strong>Alarmierungs-Programm</strong>: Server, welcher die Alarmierung von Personen und (eventuell automatisiert) die Kommunikation bis zum Eintreffen am Einsatzort &uuml;bernimmt. <i>Standort: Rechenzentrum</i>
                        </li>
                        <li>
                            <strong>Organisations-Server-Programm</strong>: &Uuml;bernimmt die Kommunikation mit den Apps vor Ort. <i>Standort: ZUKS-Zentrale, Ersatz-Standort: Rechenzentrum</i>
                        </li>
                        <li>
                            <strong>Organisations-Steuer-Programm</strong>: Darstellung der aktiven Helfer mit allen verf&uuml;gbaren Statistiken und der M&ouml;glichkeit, Anweisungen zu versenden (&uuml;ber das Organsiations-Server-Programm) <i>Standort: ZUKS-Zentrale</i>
                        </li>
                        <li>
                            <strong>Apps</strong>: Darstellung der Informationen f&uuml;r den Nutzer (Android und iOS im ersten Schritt)
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <img src="img/icons/icon-funktion-grau.png" class="content-icon-160" alt="Technik Icon"/>
                </div>
            </div>

            <div class="row padding-top-25">
                <div class="col-lg-6">
                    <h3>ZUKS-Zentrale</h3>
                    <p>
                        Die ZUKS-Zentrale ist der Koordinations-Knotenpunkt vor Ort. Diese muss vollkommen autonom versorgt und betrieben werden k&ouml;nnen. Um bei Eins&auml;tzen schnell vor Ort eine funktionierende Infrastruktur (vor allem Internet und Strom) zu schaffen, ist die Idee, die gesamte Einsatzzentrale in einem LKW unterzubringen. Dieser muss zumindest folgenderma&szlig;en ausgestattet sein:
                    </p>
                    <ul>
                        <li>Strom-Generator + USV (Unterbrechungsfreie Stromversorgung)</li>
                        <li>Kleines Rechenzentrum f&uuml;r die Server vor Ort</li>
                        <li>Satelliten-Internet-Verbindung</li>
                        <li>Funk-Modul</li>
                        <li>Arbeitspl&auml;tze</li>
                        <li>Schlafpl&auml;tze</li>
                        <li>Kleines Lager, mit Lebensmitteln und Ausr&uuml;stung</li>
                        <li>(Satelliten-Telefon)</li>
                    </ul>
                </div>

                <div class="col-lg-6">
                    <h3>Apps</h3>
                    <p>
                        Die jeweiligen Apps m&uuml;ssen zumindest folgende Funktionen unterst&uuml;tzen. Im ersten Schritt sind Apps f&uuml;r iOS und Android geplant.
                    </p>
                    <ul>
                        <li><strong>Alarmierung</strong>: Abfrage der Bereitschaft f&uuml;r verschiedene Zeitr&auml;ume (morgen, am Wochenende, etc.)</li>
                        <li><strong>Informations-Darstellung</strong>: Orte, Personen, etc. die f&uuml;r den Einsatz relevant sind</li>
                        <li><strong>Kontaktaufnahme</strong>: Um bei Problemen die Zentrale zu erreichen</li>
                        <li><strong>Hilfestellungen</strong>: Um wiederkehrende Fragen zu erkl&auml;ren und die Personen auf den Einsatz vorzubereiten</li>
                        <li><strong>Check-Listen</strong>: f&uuml;r Ausr&uuml;stung, etc.</li>
                        <li><strong>Offline-Karten-Darstellung</strong>: Um auch ohne Internet-Verbindung navigieren zu k&ouml;nnen</li>
                        <li><strong>Ausfallsicherheit</strong>: Anweisungen sollen &uuml;ber das Internet/SMS/Funk/... empfangen und einheitlich dargestellt werden</li>
                        <li><strong>Positionsbestimmung</strong>: per regelm&auml;&szlig;iger GPS-Ortung Position an Zentrale melden (bei Einwilligung)</li>
                    </ul>
                </div>
            </div>

            <div class="row padding-top-25">
                <div class="col-lg-6">
                    <h3>Organisations-Steuer-Programm</h3>
                    <p>
                        Diese Software l&auml;uft in der ZUKS-Zentrale und dient dazu, den Einsatz der Helfer zu steuern. Folgende Funktionen muss die Anwendung bieten:
                    </p>
                    <ul>
                        <li>
                            &Uuml;bersichtskarte: Auf einer Karte m&uuml;ssen alle wichtigen Orte des Einsatzes visualisiert werden: Verpflegungs- und Schlafpl&auml;tze, zentraler Sammelpunkt, Position der Helfer. Die Karte soll komplett interaktiv sein, um zu allen Orten Informationen abrufen und Aktionen ausf&uuml;hren zu k&ouml;nnen.
                        </li>
                        <li>
                            Helfer-Statistiken: Die Anwendung muss auf &uuml;bersichtliche Art und Weise alle Informationen zu ben&ouml;tigten, verf&uuml;gbaren und anreisenden Helfern visualisieren. Dabei sind zur Planung auch Faktoren wie die zu erwartende Ankunft der Helfer entscheidend, um vorausplanen zu k&ouml;nnen.
                        </li>
                        <li>
                            Helfer-Einteilung: Die Helfer m&uuml;ssen Gruppenf&uuml;hrern zugewiesen werden k&ouml;nnen. Diese Einteilung muss jederzeit ersichtlich sein, um einen &Uuml;berblick &uuml;ber den Einsatz der Helfer zu bekommen.
                        </li>
                        <li>
                            Anweisungen senden: Die Anwendung muss es erlauben, verschiedene Arten von Anweisungen an die Apps zu senden. Dazu geh&ouml;ren bspw. Nachrichten mit Informationen &uuml;ber Verpflegung und Schlafpl&auml;tzen, die Zuweisung zu Gruppen, etc.
                        </li>
                        <li>
                            Unterst&uuml;tzung des Koordinators: Die Software soll mit allen zu Verf&uuml;gung stehenden Informationen den Koordinator bestm&ouml;glich unterst&uuml;tzen. Dazu geh&ouml;rt zum Beispiel, ihn auf das Ende von Helfer-Schichten aufmerksam zu machen und Hilfe-Rufe &uuml;ber die App direkt in der Anwendung darzustellen.
                        </li>
                    </ul>
                </div>

                <div class="col-lg-6">
                    <h3>Ausfallsicherheit</h3>
                    <p>
                        Eine wichtige Eigenschaft des gesamten Systems muss die Ausfallsicherheit auch in widrigen Umgebungen sein. Zu diesem Zweck m&uuml;ssen alle Systeme m&ouml;glichst autonom von der Umwelt arbeiten.
                    </p>
                    <p>
                        <strong>Die ZUKS-Zentrale</strong>: Wie schon beschrieben, sollen alle Systeme die vor Ort ben&ouml;tigt werden in der mobilen ZUKS-Einsatzzentrale betrieben werden. Den Strom zum Betrieb soll &uuml;ber Generatoren und <a href="http://de.wikipedia.org/wiki/USV" target="_blank">USV</a>s bezogen, die Internet-Verbindung &uuml;ber Satellit hergestellt und lokale Kommunikationsnetze (Funk, WLAN) bereit gestellt werden k&ouml;nnen.
                    </p>
                    <p>
                         <strong>Smartphones</strong>: Damit die Smartphones auch die Eins&auml;tze durchhalten, k&ouml;nnte entweder den Helfern zur Anschaffung von Akku-Packs geraten oder es k&ouml;nnten Akku-Packs durch ZUKS zur Verf&uuml;gung gestellt werden.
                    </p>

                    <p>
                        <strong>Die Apps</strong>: Die Apps sollen &uuml;ber eine Reihe von verschiedenen Kommunikationsmedien Nachrichten beziehen k&ouml;nnen, um f&uuml;r jede Gegebenheit gewappnet zu sein:
                    </p>
                    <ul>
                        <li>Mobilfunk-Daten-Verbindung</li>
                        <li>SMS</li>
                        <li>Mobilfunk-Anbieter-&uuml;bergreifende SMS wie bei Notrufen (rechtliche Lage muss daf&uuml;r abgekl&auml;rt werden)</li>
                        <li>WLAN welches von der ZUKS-Zentrale bereitgestellt wird (Machbarkeit bzgl. Signalst&auml;rke und Reichweite muss gekl&auml;rt werden)</li>
                        <li><a href="http://de.wikipedia.org/wiki/Mesh-Netzwerk" target="_blank">Mesh-Netzwerk</a> zwischen den Smartphones um die Daten &uuml;ber WLAN/Bluetooth im Katastrophengebiet weiter zu geben</li>
                        <li>Funk mit externem Empf&auml;nger, welcher die Signale zur Verarbeitung an das Smartphone / die App weiter gibt (Machbarkeit muss gekl&auml;rt werden)</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <div class="section type-2">
        <div class="container">
            <div class="col-lg-6">
                <h1>Absicherung</h1>
                <p>
                    Eine wichtige Frage f&uuml;r die Helfer ist nat&uuml;rlich, in wie weit sie im Einsatz abgesichert sind. Unser Ziel ist, dass sich die ZUKS Helfer keinerlei Gedanken &uuml;ber eine Absicherung machen brauchen und vollst&auml;ndig im Einsatz versichert sind. Einer unserer Ans&auml;tze um dies realisieren zu k&ouml;nnen ist die Gr&uuml;ndung eines Vereins, &uuml;ber welchen die Versicherung erfolgen k&ouml;nnte. Wir untersuchen im Moment, ob dies der richtig Weg ist und halten nach eventuell passenderen Alternativen Ausschau.
                </p>
            </div>
            <div class="col-lg-6">
                <h1>Ver&ouml;ffentlichung der Arbeit</h1>
                <p>
                    Alle Produkte, welche dieses Projekt zu Tage bringt, sollen ohne Ausnahme unter einer freien Lizenz ver&ouml;ffentlicht werden. Dazu geh&ouml;rt sowohl die entwickelte Software, als auch Dokumente welche die Organisation beschreiben.
                </p>
                <p>
                   Die Idee ist, dass vielleicht andere Personen das Geschaffene aufgreifen und f&uuml;r andere Szenarien weiter entwickeln werden. Zudem sollen auch andere Personen dazu angeregt werden, sich in das Projekt einzubringen.
                </p>
            </div>
        </div>
    </div>

{% include "core/footer.html" %}

{% endblock "content" %}

{% block "scripts" %}
        <script type="text/javascript" src="{% static "js/konzept.scroll.js" %}"></script>
{% endblock "scripts" %}
