{% extends "core/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}

{% block "metadata" %}
    <meta name="description" content="{% trans "Admin Interface to send newsletters" %}">
{% endblock "metadata" %}

{% block "menu" %}
  <li><a href="{% url "admin:index" %}" class="back">{% trans "Administration" %}</a></li>
  <li class="active"><a href="#mail">{% trans "Newsletter" %}</a></li>
{% endblock "menu" %}

{% block "mobile_menu" %}
  <li>
      <a href="{% url "admin:index" %}" class="back" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          {% trans "Administration" %}
      </a>
  </li>
  <li class="active">
      <a href="#mail" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          {% trans "Newsletter" %}
      </a>
  </li>
{% endblock "mobile_menu" %}

{% block "content" %}
    <div class="section type-2" style="padding-top: 100px">
        <div class="container">
            <div>
                <div class="row">
                    <div class="col-lg-5" class="vertMargin">
                        <h2>
                            {% trans "Editor" %}
                            <a href="http://support.mashery.com/docs/read/customizing_your_portal/Markdown_Cheat_Sheet" class="btn btn-info btn-xs" target="_blank" >{% trans "Markdown help" %}</a>
                        </h2>
                        <form action="{% url 'admin:core_newsletter_add' %}" id="newsletter_form" method="POST" accept-charset="utf-8" class="vertMargin">
                            {% csrf_token %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <div class="form-group">
                                {% trans "Subject" as subject_placeholder %}
                                {% with "placeholder:"|add:subject_placeholder|add:" *" as subject_placeholder %}
                                    {{ form.subject | add_class:"form-control" | attr:subject_placeholder }}
                                {% endwith %}
                                {{ form.subject.errors }}
                            </div>
                            <div class="form-group">
                                {% trans "Markdown Text" as subject_content %}
                                {% with "placeholder:"|add:subject_content|add:" *" as subject_content %}
                                    {{ form.content | add_class:"form-control" | attr:subject_content | attr:"rows:20" | attr:"cols:50" }}
                                {% endwith %}
                                {{ form.content.errors }}
                            </div>

                        </form>
                        <div><button id="send" class="btn btn-primary btn-block">{% trans "Send" %}</button></div>
                    </div>
                    <div class="col-lg-7" >
                       <h2>
                           {% trans "Preview" %}
                           <button class="btn btn-primary btn-xs" id="update_preview">{% trans "Update" %}</button>
                       </h2>
                       <div id="render" class="vertMargin"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock "content" %}

{% block "scripts" %}
    <script type="text/javascript" charset="utf-8">
        $("#render").load("{% url 'admin:newsletter-template' %}");

        var should_request = true;
        var updateContent = function() {
            if (should_request) {
                // Timeout to prevent flooding the server
                should_request = false;
                setTimeout(function() {
                    should_request = true;
                }, 500);

                $("#render").load("{% url 'admin:newsletter-template' %}",
                    $('#newsletter_form').serializeArray()
                );
            }
        };

        $('#update_preview').click(updateContent);
        $('#id_content').on('change keyup paste', updateContent);

        $("#send").on('click', function() {
            if (confirm("Nachricht an alle Abonenten versenden?")) {
                $('#newsletter_form').submit();
            }
        });
    </script>
{% endblock %}
