{% extends "core/base.html" %}
{% load staticfiles %}

{% block "metadata" %}
    <meta name="description" content="ZUKS Newsletter Abmeldung">
{% endblock "metadata" %}

{% block "menu" %}
  <li><a href="{% url "index" %}" class="back">Zur&uuml;ck zu ZUKS</a></li>
  <li class="active"><a href="#jump1">Newsletter</a></li>
{% endblock "menu" %}

{% block "mobile_menu" %}
  <li>
    <a href="{% url "index" %}" data-toggle="collapse" data-target=".navbar-responsive-collapse" class="back">
      Zur&uuml;ck zu ZUKS
    </a>
  </li>
  <li class="active">
    <a href="#" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      Newsletter
    </a>
  </li>
{% endblock "mobile_menu" %}

{% block "content" %}
    <div class="section type-3">
      <div class="container">
          <h2>Schade!</h2>
          <p>
              Schade, wir werden Dich vermissen.
          </p>
          {% include 'core/stay_tuned.html' %}
          <p>Aus Versehen geklickt? Hier kannst du dich wieder anmelden</p>
          {% include 'core/subscribe_form.html' %}
      </div>
  </div>
{% endblock "content" %}
