{% extends "core/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block "metadata" %}
    <meta name="description" content="{% trans "Newsletter cancellation" %}">
{% endblock "metadata" %}

{% block "menu" %}
  <li><a href="{% url "index" %}" class="back">{% trans "Back to ZUKS" %}</a></li>
  <li class="active"><a href="#jump1">{% trans "Newsletter" %}</a></li>
{% endblock "menu" %}

{% block "mobile_menu" %}
  <li>
    <a href="{% url "index" %}" data-toggle="collapse" data-target=".navbar-responsive-collapse" class="back">
      {% trans "Back to ZUKS" %}
    </a>
  </li>
  <li class="active">
    <a href="#" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      {% trans "Newsletter" %}
    </a>
  </li>
{% endblock "mobile_menu" %}

{% block "content" %}
    <div class="section type-3">
      <div class="container">
          <h2>{% trans "What a pity" %}</h2>
          <p>
              {% trans "We will miss you!" %}
          </p>
          {% include 'core/stay_tuned.html' %}
          <p>{% trans "Clicked accidentally? Directly subscribe again:" %}</p>
          {% include 'core/subscribe_form.html' %}
      </div>
  </div>
{% endblock "content" %}
