{% extends "core/base.html" %}
{% load staticfiles %}

{% block "metadata" %}
    <meta name="description" content="ZUKS Newsletter Abmeldung">
{% endblock "metadata" %}

{% block "content" %}
    <div class="section type-3">
      <div class="container">
          <h2>Schade!</h2>
          <p>
              Schade, wir werden Dich vermissen.
          </p>
          {% include 'core/stay_tuned.html' %}
          <p>Aus Versehen geklickt? Hier kannst du dich wieder anmelden</p>
          {% include 'core/subscribe_form.html' %}
      </div>
  </div>
{% endblock "content" %}
