<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link type="text/css" href="base_mail.css" rel="stylesheet" />
        <title>ZUKS Mail</title>
    </head>
    <body>
        <table class="body">
            <tbody>
                <tr>
                    <td class="center" align="center" valign="top">
                        <center>
                            <table class="row header">
                                <tbody>
                                    <tr>
                                        <td class="center" align="center">
                                            <center>
                                                <table class="container">
                                                    <tbody>
                                                        <tr>
                                                            <td class="wrapper last">
                                                                <table class="twelve columns">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="six sub-columns">
                                                                                <a href="{{ settings.BASE_URL }}"><img class="logo" src="{{ settings.BASE_URL }}{% static 'img/logo/logo-weiss@300.png' %}" style="
                                                                                    height: 45px;
                                                                                    "></a>
                                                                            </td>
                                                                            <td class="six sub-columns last" align="right" style="text-align:right; vertical-align:middle;">
                                                                            </td>
                                                                            <td class="expander"></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </center>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <table class="container">
                                <tbody>
                                    <tr>
                                        <td>
                                            <!-- content start -->
                                            <table class="row">
                                                <tbody>
                                                    <tr>
                                                        <td class="wrapper last">
                                                            <table class="twelve columns">
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="bodyContent">
                                                                            {{ content }}
                                                                        </td>
                                                                        <td class="expander"></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table class="row">
                                                <tbody>
                                                    <tr>
                                                        <td class="wrapper" style="padding-top: 30px;">
                                                            <table class="twelve columns">
                                                                <tbody>
                                                                    <tr>
                                                                        <td align="center" style="padding-bottom: 0;">
                                                                            <center>
                                                                                <p class="socials">
                                                                                    <a href="https://www.facebook.com/zuks.org" title="ZUKS Facebook Seite">
                                                                                    <img src="{{ settings.BASE_URL }}{% static 'img/icons/social/facebook.png' %}" alt="ZUKS Facebook Seite">
                                                                                    </a>
                                                                                    <a href="https://plus.google.com/+ZuksOrg" title="ZUKS Google+ Seite">
                                                                                    <img src="{{ settings.BASE_URL }}{% static 'img/icons/social/google+.png' %}" alt="ZUKS Google+ Seite">
                                                                                    </a>
                                                                                    <a href="https://twitter.com/zuksDE" title="ZUKS Twitter Seite">
                                                                                    <img src="{{ settings.BASE_URL }}{% static 'img/icons/social/twitter.png' %}" alt="ZUKS Twitter Seite">
                                                                                    </a>
                                                                                </p>
                                                                            </center>
                                                                        </td>
                                                                        <td class="expander"></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table class="row">
                                                <tbody>
                                                    <tr>
                                                        <td class="wrapper last disclaimer" >
                                                            <table class="twelve columns">
                                                                <tbody>
                                                                    <tr>
                                                                        <td align="center">
                                                                            <center>
                                                                                <p style="text-align:center;">
                                                                                  <a href="{{ settings.BASE_URL }}{% url 'impressum' %}">Impressum</a> |
                                                                                  <a href="{{ settings.BASE_URL }}{% url 'impressum' %}#datenschutz">Datenschutz</a>
                                                                                    {% if unsubscribe_id %}
                                                                                    | <a href="{{ settings.BASE_URL }}{% url 'unsubscribe' id=unsubscribe_id %}">Abbestellen</a>
                                                                                </p>
                                                                                {% endif %}
                                                                            </center>
                                                                        </td>
                                                                        <td class="expander"></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!-- container end below -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </center>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
